@media (max-width: 1200px) {

}

@media (max-width: 991px) {
    .promo {
        &__wrapper {
            align-items: center;
        }
    }
    .container {
        width: 745px;
    }

    .title {
        &_left {
            margin-left: 15px;
            font-size: 33px;
        }
    }

    .consultation {
        &__descr {
            margin-left: 15px;
        }
    }

    .feed-form {
        margin-left: 15px;
    }

    .slick-dots {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 767px) {
    .container {
        width: 540px;
    }
    .title {
        font-size: 33px;
        &_left {
            margin-left: 0;
            font-size: 25px;
        }
    }
    .header {
        justify-content: space-around;
        &__official {
            display: none;
        }
        &__contacts {
            align-items: center;
        }
    }
    .promo {
        &__header {
            font-size: 35px;
        }
        &__subheader {
            font-size: 21px;
        }
    }
    .advantages {
        &__item {
            max-width: 330px;
            margin-top: 20px;
            img {
                width: 100px;
            }
        }
        &__subtitle {
            font-size: 23px;
        }
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
        &__descr {
            font-size: 19px;
        }
    }
    .consultation {
        padding-top: 90px;
        min-height: 655px;
        &__descr {
            margin-left: 0;
            font-size: 19px;
        }
    }
    .feed-form {
        margin-left: 0;
        width: 375px;
    }

    
}

@media (max-width: 575px) {
    .container {
        width: 100%;
        padding: 0 12px;
    }
    .header {
        flex-direction: column;
        &__contacts {
            margin-top: 20px;
        }
        &__phone {
            margin-bottom: 5px;
        }
    }

    .title {
        &_left {
            font-size: 20px;
            text-align: center;
            font-weight: 500;
        }
    }
    .promo {
        &__wrapper {
            margin-top: 50px;
        }
        &__header {
            font-size: 24px;
        }
        &__subheader {
            font-size: 14px;
        }
        &__icons {
            flex-direction: column;
            align-items: center;
            margin-top: 40px;
            width: auto;
        }
        &__icon {
            width: 115px;
            font-size: 15px;
            margin-top: 10px;
            img {
                width: 50px;
            }
        }
    }
    .button {
        width: 100%
    }

    .consultation {
        padding-top: 60px;
        min-height: 655px;
        &__descr {
            text-align: center;
            margin-top: 20px;
            font-size: 18px;
        }
    }
    .feed-form {
        width: 290px;
        margin: 36px auto 0 auto;
        input {
            font-size: 16px;
        }
    }
}